*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    
}
html{
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
    font-family: arial;
}

.section-content{
    margin: 0 auto;/* to center the content */
    padding: 0 30px;
    max-width: 1400px;
}

.section-title{
    font-family: arial;
    font-style: bold;
    padding: 30px 50px;
    font-size: 45px;
}
.section-title::after{
    content: "";
    width: 200px;
    height: 3px;
    display: block;
    margin: 10px auto 0;
    border-radius: 10px;
    background-color: #466b46;
}
.animate{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.7s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 100%;
        transform: translate(0px);
    }
}
.animated {
    opacity: 0; /* Start hidden */
    transform: translateX(-50px); /* Start off-screen to the left */
    transition: opacity 0.7s ease, transform 0.7s ease; /* Smooth transition */
}

/* Final state when the element is visible */
.animated.active {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Move to its original position */
}
@font-face{
    font-family: vivaldi;
    src:url(font/vivaldi.ttf);
}
@font-face{
    font-family: gonero;
    src: url(font/gonero.ttf);
}