*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    
}
html{
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
    font-family: arial;
}

.section-content{
    margin: 0 auto;/* to center the content */
    padding: 0 30px;
    max-width: 1400px;
}

.section-title{
    font-family: arial;
    font-style: bold;
    padding: 30px 50px;
    
    font-size: 45px;
}
.section-title::after{
    content: "";
    width: 200px;
    height: 3px;
    display: block;
    margin: 10px auto 0;
    border-radius: 10px;
    background-color: #6e3729;
}
@font-face{
    font-family: vivaldi;
    src:url(font/vivaldi.ttf);
}
@font-face{
    font-family: gonero;
    src: url(font/gonero.ttf);
}